solution/tasks-react/.DS_Store
solution/tasks-laravel/.DS_Store
solution/.DS_Store
exam/tasks-react/.DS_Store
exam/tasks-laravel/.DS_Store
exam/.DS_Store
docs/images/.DS_Store
docs/.DS_Store
.DS_Store
exam/tasks-react/.DS_Store
